<nav id="nav">
  <ul class="icons">
    <li><a href="{{ site.baseurl }}/" {% if page.url == '/' %} class="active" {% endif %}>Home</a></li>
    <li><a href="{{ site.baseurl }}/mission/" {% if page.url == '/mission/' %} class="active" {% endif %}>Mission</a></li>
    <li><a href="{{ site.baseurl }}/about/" {% if page.url == '/about/' %} class="active" {% endif %}>About</a></li>
    <!--li><a href="{% if page.url == '/' %}#featured{% else %}{{ site.baseurl }}/#featured{% endif %}" class="scrolly">Featured Projects</a></li-->
    <!--<li><a href="{{ site.baseurl }}/grantees/" {% if page.url == '/grantees/' %} class="active" {% endif %}>Grantees</a></li>-->
    <li><a href="{{ site.baseurl }}/work/" {% if page.url == '/work/' %} class="active" {% endif %}>Work</a></li>
    <li><a href="{{ site.baseurl }}/donate/" {% if page.url == '/donate/' %} class="active" {% endif %}>Donate</a></li>
    {% if site.profile_paypal %}
    <li><a href="{{site.profile_paypal}}" class="icon fa-paypal"><span class="label">PayPal</span></a></li>
    {% endif %}
  </ul>
</nav>
