<!DOCTYPE HTML>
<html>

  {% include head.html %}

  <body id="top">
    {% include base.html %}
    {% include header-narrow.html %}

    <!-- Main -->
    <div id="main" class="main-wide">
      {{ content }}
    </div>
    <div class="cui-embed" data-cui-uid="BWzy1pfF" data-cui-mode="pill" data-cui-pill-button-color="#F3CD59"></div> <script src="https://public-assets.typeform.com/confab/embed.js" async></script>
    {% include footer-narrow.html %}
    {% include body-scripts.html %}
  </body>
  
</html>
