<!DOCTYPE HTML>
<html>

  {% include head.html %}

  <body id="top">
    {% include base.html %}
    {% include header.html %}

    <!-- Main -->
    <div id="main">

      <!-- One -->
      <section id="one">
        <header class="major">
          <h2>{{ page.header_title }}</h2>
        </header>
        {% if page.header_intro %}
          <p>{{ page.header_intro }}</p>
        {% endif %}
      </section>

      <!-- Two -->
      <section id="two" class="page">
        {{ content }}
      </section>
    </div>
    <div class="cui-embed" data-cui-uid="BWzy1pfF" data-cui-mode="pill" data-cui-pill-button-color="#F3CD59"></div> <script src="https://public-assets.typeform.com/confab/embed.js" async></script>
    {% include footer.html %}
    {% include body-scripts.html %}
  </body>
  
</html>
